body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

body.is-fixed {
    overflow: hidden;
    height: 100vh;
}

.header {
    background: #000;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.header__logo-img {
    height: 30px;
    display: block;
}
