.auth-layout {
    min-width: 1400px;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.auth-body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.auth-body.is-fixed {
    overflow: hidden;
    height: 100vh;
}

.auth-header {
    background: #000;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.auth-header__inner {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.auth-header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.auth-header__logo-img {
    height: 30px;
    display: block;
}
