.register-form__content {
    margin: 0 auto;
    padding: 50px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}

.form {
    margin: 0 auto;
    width: 45%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
    font-size: 20px;
}

.form__group-title {
    text-align: left;
    color: #000;
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 95%;
    height: 25px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    appearance: none;
}

.form__group--button {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 20px;
}

.form__button {
    width: 100%;
    text-align: center;
}

.form__button-submit {
    padding: 12px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}

.login__button-submit {
    text-decoration: none;
}
