.verify-email__content {
    margin: 0 auto;
    padding: 200px 15px;
    max-width: 720px;
}

.verify-email__heading {
    margin-bottom: 25px;
    padding: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.verify-email__form {
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    text-align: center;
}

.verify-email__button-submit {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #D9D9D9;
    text-decoration: none;
    color: #000;
}

.verify-email__link {
    text-align: center;
    font-size: 20px;
    border: none;
}

.verify-email__link-button {
    background: none;
    border: none;
    color: #0073CC;
    cursor: pointer;
    font-size: 20px;
    padding: 0;/
}