.admin-attendance-detail {
    max-width: 900px;
    margin: 50px auto;
    padding: 40px;
}

.admin-attendance-detail__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    border-left: 8px solid #000;
    padding-left: 16px;
    margin-left: 40px;
}

.admin-attendance-detail__content {
    background-color: transparent;
    padding: 20px 40px;
    border-radius: 10px;
}

.admin-attendance-detail__table-wrapper {
    background-color: #fff;
    padding: 20px 0px;
    border-radius: 10px;
    overflow: hidden;
}

.admin-attendance-detail__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.admin-name-cell {
    display: block;
    margin-left: 0;
}

.admin-name__user {
    padding-left: 25px;
}

.admin-date-cell {
    display: flex;
    gap: 0;
    margin-left: 0;
}

.admin-date-year {
    display: inline-block;
    width: 150px;
    padding-left: 25px;
}

.admin-attendance-detail__table th,
.admin-attendance-detail__table td {
    padding: 20px 0;
    height: 80px;
    border-bottom: 1px solid #E1E1E1;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #fff;
}

.admin-attendance-detail__table tr:last-child th,
.admin-attendance-detail__table tr:last-child td {
    border-bottom: none;
}

.admin-attendance-detail__table th {
    width: 200px;
    text-align: left;
    font-weight: bold;
    color: #737373;
    font-size: 14px;
    padding: 24px 0 24px 60px;
}

.admin-attendance-detail__table td {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding: 24px 40px 24px 90px;
}

.admin-attendance-detail__table input[type="time"] {
    width: 100px;
    height: 36px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-left: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.admin-time-separator {
    margin: 0 24px;
    font-weight: bold;
}

.admin-break-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.admin-attendance-detail__text {
    width: 100%;
    max-width: 280px;
    min-height: 80px;
    padding: 12px;
    resize: none;
    font-size: 14px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
}

.error-message {
    color: #e60023;
    font-size: 14px;
    margin-top: 6px;
}

.admin-attendance-detail__action {
    margin-top: 30px;
    text-align: right;
}

.admin-attendance-detail__notice {
    color: #FF000080;
    font-weight: bold;
    font-size: 14px;
}

.admin-attendance-detail__btn {
    padding: 10px 45px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-attendance-detail__btn:hover {
    opacity: 0.85;
}