.attendance-form__content {
    max-width: 600px;
    margin: 80px auto 0;
    padding: 40px;
    text-align: center;
}

.attendance-status {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.status__off-duty {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: #C8C8C8;
    color: #696969;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status__at-work {
    color: #999;
    font-size: 18px;
    font-weight: bold;
}

.attendance-date {
    margin-bottom: 20px;
}

.attendance-date__show {
    font-size: 40px;
    font-weight: normal;
}

.attendance-time {
    margin-bottom: 40px;
}

.attendance-time__show {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 2px;
}

.attendance-status__button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px auto 0;
    max-width: 400px;
}

.attendance-status__button form {
    display: flex;
    justify-content: center;
}

.attendance-status__button form:only-child {
    grid-column: 1 / -1;
}

.attendance-status__button button {
    margin-top: 20px;
    padding: 20px 0;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 180px;
}

.status__button-start {
    background-color: #000;
    color: #fff;
}

.status__button-end {
    background-color: #000;
    color: #fff;
}

.status__button-break-start {
    background-color: #fff;
    color: #000;
}

.status__button-break-end {
    background-color: #fff;
    color: #000;
}

.attendance-status__end {
    margin-top: 40px;
}

.status__end-comment {
    font-size: 26px;
    font-weight: bold;
}